<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://kit.fontawesome.com/edf02872ff.js" crossorigin="anonymous"></script>
    <title>Micah BigEagle</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container-fluid">
        <a href=""></a>
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg" style=" background-color: rgb(185, 194, 204); opacity: 0.7;">
                    <a class=" navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link active" href="./index.html">Home <span
                                    class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link" href="./portfolio.html">Portfolio</a>
                            <a class="nav-item nav-link" href="./biography.html">Biography</a>
                            <a class="nav-item nav-link" href="./resume.html">Resume</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col">

                <p id="bio">
                    Hi, I'm Micah BigEagle a learning and creating full-stack web developer. I'm currently in the UofM
                    Full-Stack Bootcamp. Hardworking production assembly team member offering a significant background
                    in blue-collar manufacturing and team organization. History of successfully aligning output with
                    quality and performance targets. Highly organized approach reducing errors and materials waste
                    through proactive controls. Enthusiastic full stack web developer eager to contribute to team
                    success through hard work, attention to detail, and excellent organizational skills. A clear
                    understanding of web development and programming. Motivated to learn, grow, and excel in web
                    development.
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- <img id="bioImage" src="https://lh3.googleusercontent.com/aPFdS1aLzQq0iNdYyt4qdC5xAnyGjZ6bQuSUSwerbjcrhmd5H6_QsTHW-90Q0Qx2oUzkI0a_FcGBlLz1s4CqHUq22qmDVTMt_L9KozH_DqZ8frnl9vyjL5qMa0jz9ATKxiGGl88SUrMcsVD1TBYqq8W3pCyXNOH6TuHJi-f4Y0Ns-xT0pIy4UiwkJyesIAy281HiM4Aagy6WVY9EfN2rqe7LMIRJF_NgIlA__UPiqBkCCde2CuEzRi3xHa1Zr4H7_CWkkPao0G7eqzTNlAS-QGR4a9XJwGUigJT84x25KqEbWrTG33d34ZDFwfkV-PRUpuIpBXW0HVzA7SaNaEbH-H2U66F_dpewO-IT88hp1cuF4kzK5O8Xi44oEKiR2nluPKwa-jpdwolxlZNEsTVT1-De9_8A2oDYZSGVPRsNTNoZCLt6JQUtVZXzgg0tHXx7_f7qinYHXTgMrT-YylBiOGMhyldrvzNHHpVy1L1V5Kv0eZT3tkSe9FmPN4XMZ-HC7ptkaFQ2pvx4ITjgYRqDXYqTftj3BAZGBSs96X8spdEuUbHLKMJbgtAkoyUfFgI_FugBwR9UZvC5Gb8sYCuMH_6yq-My-Xu6zBtFvABueNPURKWM9SJuSK8SHmdtjfPYk5D_OHB1NG3v1rfeNy2Ul3zT4RlYOl3NQRcn7fte0ylhKGr0VKNLpghIPq39Fw=w997-h1329-no?authuser=0"
                    alt="Micah BigEagle"> -->
            </div>
        </div>
    </div>
    <footer id="footer">Find Me Here
        <a href="https://www.linkedin.com/in/micah-bigeagle-ba5b3b1ba/" target="_blank" class="fa fa-linkedin"></a>
        <a href="https://github.com/Cete4" target="_blank" class="fa fa-github"></a>
        <a href="https://drive.google.com/file/d/1pDRZ_c0Bwx-SBUsBA9JNAR-UoIyKRwj5/view" target="_blank"
            class="fa fa-file-alt"></a>
        © Micah BigEagle 2020
    </footer>
</body>

</html>